body{
    background-image: url("./gif.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    background-color: black;
    border-radius: 3px;

}

h1{
    height: 600px;
    font-size: larger;
}
